body{
background-color:#feffde;
}
hr{
  background-color:#feffde;
  border-style: dotted none none none;
  border-width: 10px;
  height: 2px;
  width: 6%;

}
h1{
  color:#325288;
}
img{
    border-radius: 50%;
}
