body {
  text-align: center;
  margin: 0;
  background-color: #bbf1fa;
  font-family: 'perpetua', serif;
}
.bottom-container{
  background-color: #66BFBF;
  padding:50px;
  margin:30px auto 0px;
}
.copyright{
  padding: 50px 0 10px 0;
}
a{
  color: #11999E
  margin: 20px 20px 20px 20px;
  padding: 20px;
  text-decoration: none;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width:7%;
  margin: 50px auto;
}

/*.top{
  border: solid 10px;
  border-color: black;
  padding: 20px;
  height: 200px;
  width: 200px;
  background-color: #F8F5F1;
}*/
.contact{
  width:50%;
  margin: 20px auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.code{
  margin-right: 30px;
  float: left;
  width: 25%;
}
.badminton{
  margin-left: 30px;
  float: right;
  width: 25%;
}
.book{
  margin-right: 30px;
  float: left;
  width: 25%;
  border-radius: 50%;
}
h1 {
  margin: 50px auto 0 auto;
  font-size: 4.5rem;
  color: #66BFBF;
}
h2{
  line-height: 2;
  font-size: 2.5rem;
  margin-top: 40px;
  color: #66BFBF;
  font-weight: normal;
}


h3{
  font-size: 1.5rem;
  color: #11999E;
}
p{
  font-size: 1.25rem;
}
.badminton{
  border-radius: 50%;
}
.code{
  border-radius: 50%;
}
.pic1{
  border-radius: 50%;
  margin-top: 50px;
}
.top {
  position: relative;
  padding: 100px;
}
.intro{
  width: 50%;
  margin: auto;
}

.topcloud1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.topcloud {
  position: relative;
  left: 0px;
  bottom: 350px;
}

.mountain {
  margin: 70px auto 0 auto;
  padding-bottom: 50px;
}

.stud {
  text-decoration: underline;
}
.btn {
  margin: 30px auto;
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: 'perpetua', serif;
   font-size: 30px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   text-decoration: none;
}

/*.middle{
  display: none;
  height: 200px;
  width: 200px;
  border: solid 20px;
  border-color: black;
  margin-left: 260px;
  background-color: red;
}
.bottom{
  display: none;
  height: 200px;
  border-color: black;
  margin-left: 500px;
  width: 200px;
  border: solid 10px;
  background-color: blue;
}*/
