h1{
  margin-top: 0px;
  margin-bottom: 0px;
}
body{
  margin: 0;
}
.top{
  border: solid 10px;
  border-color: black;
  padding: 20px;
  height: 200px;
  width: 200px;
  background-color: #F8F5F1;
}
.middle{
  height: 200px;
  width: 200px;
  border: solid 20px;
  border-color: black;
  margin-left: 260px;
  background-color: red;
}
.bottom{
  height: 200px;
  border-color: black;
  margin-left: 500px;
  width: 200px;
  border: solid 10px;
  background-color: blue;
}
